@import "../../assets/styles/globalConstants";
.TrainDetails {
  border: 1px solid $primary-color;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

.train-details-1 {
  display: flex;
  justify-content: space-between;

  .train-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .train-timing {
    display: flex;
    gap: 1rem;
    align-items: center;

    hr {
      height: 80%;
    }
  }
}

.train-details-2 {
  display: flex;
  overflow-x: auto;
  height: 100%;
  align-items: center;
}

.train-details-2::-webkit-scrollbar {
  display: none;
}
