@import "../../assets/styles/globalConstants";
@import "../../assets/styles/globalMixin";
.AddBusPopUp {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.AddBusPopUp form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  overflow: auto;
  max-width: 95vw;

  .form-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 2rem;
    h2 {
      padding-top: 1rem;
    }
    .close-btn {
      cursor: pointer;
      padding: 0.5rem;
    }
  }
}

.AddBusPopUp form .form-flex-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
}
.AddBusPopUp form .form-flex-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AddBusPopUp form .input-box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.AddBusPopUp form .input-box-wrapper label {
  font-size: 18px;
}
.AddBusPopUp form .input-box-wrapper input,
.AddBusPopUp form .input-box-wrapper select {
  width: 20rem;
  padding: 8px;
  font-size: 16px;
}
/* flex-2 */
.form-flex-2-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.AddBusPopUp form .form-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}

.AddBusPopUp form .form-flex-2 .add-btn {
  font-size: 16px;
  padding: 8px 2rem;
}

.AddBusPopUp form .pickup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  //   height: 23rem;
  overflow: auto;
  padding-right: 10px;
  /* border: 1px solid; */
}

.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper div {
  display: flex;
  gap: 5px;
}
.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper label {
  font-size: 16px;
}
.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper input {
  padding: 8px;
  font-size: 16px;
}
.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper .delete-btn {
  padding: 8px;
  font-size: 16px;
}
.AddBusPopUp form .pickup-wrapper .pickup-input-wrapper input[type="time"] {
  height: 2.4rem;
}
.AddBusPopUp form .submit-btn-wrapper {
  display: flex;
  justify-content: end;
  .submit-btn {
    @include admin-submit-btn;
    margin: 0 1rem 1rem 0;
  }
}
.AddBusPopUp form .submit-btn:hover {
  @include admin-submit-btn-hover;
}
.AddBusPopUp .add-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
