$primary-color: #00b894;
// $primary-color: #1877F2;

$secondary-color: #e6fbf4;
$tertiary-color: #464e47;

$hover-color: #39c49c;
// $hover-color: #377ef1;

$booking-navBar-bg: #02b280;
// $booking-navBar-bg: #1F75FE;

// $global-bg-color: rgb(249, 249, 249);
$global-bg-color: rgb(248, 246, 246);
// $active-color: #2ac386;
$active-color: #40cf96;
$close-btn-color: #ee5867;
$close-btn-hover-color: rgba(238, 88, 103, 0.8);

$add-btn-color: #28a745;
$add-btn-hover-color: rgb(40, 167, 69, 0.9);
$edit-btn-color: #ffc107;
$edit-btn-hover-color: rgba(255, 193, 7, 0.7);
$delete-btn-color: #dc3545;
$delete-btn-hover-color: rgba(226, 81, 96, 0.9);

$view-btn-color: #007bff;
$view-btn-hover-color: rgba(0, 123, 255, 0.7);
