@import "../../assets/styles/index.scss";

.CustomButton {
    width: fit-content;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &.add-btn {
        background-color: $add-btn-color;
        color: white;
    }
    &.add-btn:hover {
        background-color: $add-btn-hover-color;
    }
    &.submit-btn {
        background-color: $view-btn-color;
        color: white;
    }
    &.submit-btn:hover {
        background-color: $view-btn-hover-color;
    }
}